body {
    background-image: url(Photos/sigmawolf2.png);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Header {
    background-color: gray;
    width: 100%;
    height: fit-content;
    align-content: center;
    margin: auto;
    opacity: 75%;
}


h1 {
    color: black;
    text-align: center;
    margin: 0;
    font-size: 45px;
    padding: 20px;
    opacity: 100%;
}

.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32pt;
    color: black;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22pt;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    height: 25%;
}

div {
    height: fit-content;
    /* background-color: blueviolet; */
    margin: 10px 30px;
}

.join-button{
    border-radius: 25px;
    cursor: pointer;
}

div > p {
    font-size: 24pt;

}

img {
    align-content: center;
    height: 200px;
    width: 300px;
    border: 10px; color: black;
    border-radius: 50px;
}
#sigmawolf3 {
    text-align: center;
    height: 200px;
    width: 300px;
    border: 10px; color: black;
    border-radius: 50px;
}